<%- include('includes/head.ejs') %> 
  <link rel="stylesheet" href="css/index.css">
  </head>
  <body>
    <%- include('includes/nav.ejs') %> 
    <main>
      <h1 class="welcome-message">Welcome to Todo app</h1>
      <h3>todo List !</h3>
      <section class="main-section__list-container">
        <% if (todos.length > 0) { %>
          <% todos.forEach(todo => { %>
            <article class="main-section__list-item">
              <img src="/images/todo.png" alt="todo-picture" class="main-section__list-item__image" />
              <div class="main-section__list-item__icon-holder">
                <a><i class="fa-solid fa-pen main-section__list-item__edit-icon"></i></a>
                <a href="/admin//delete-todo/<%= todo.id %>"><i class="fa-solid fa-trash-can-arrow-up main-section__list-item__edit-icon"></i></a>
              </div>
              <h3 class="main-section__list-item__title-static">Title:</h3>
              <h6 class="main-section__list-item__title-dynamic"><%= todo.title %> </h6>
              <h3 class="main-section__list-item__desc-static">Description:</h3>
              <p class="main-section__list-item__desc-dynamic"><%= todo.desc %></p>
            </article>
          <% }) %>
        <% } else { %>
        
          <div class="main-section__list-container__empty--state__div">
            <h1>No todo Found yet</h1>
          </div>
        <% } %>

        </section>
    </main>
    <%- include('includes/footer.ejs') %> 

